@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Delius+Swash+Caps&family=Reem+Kufi&display=swap');
.shop{
    font-family: 'Reem Kufi', sans-serif;
}
.shop-head{
width: 30%;
height: 5px;
background-color: blanchedalmond;
position: absolute;
left: 35%;
}